doctype html
html
	head
		title= siteName
		link(rel='stylesheet', href='/stylesheets/style.css')
		link(rel="stylesheet", href="//cdnjs.cloudflare.com/ajax/libs/materialize/0.97.1/css/materialize.min.css")
		meta(name="viewport", content="width=device-width, initial-scale=1.0")
	body
		nav
			.nav-wrapper
				a.brand-logo(href="/").left siteName
				ul#nav-mobile.right
					li
						if ! loggedin
							a(href="/login") Login
						else
							a(href="/logout") Logout
		.page-content
			h1.title #{title}
		block content
		
		script(src="//code.jquery.com/jquery-1.11.3.min.js")
		script(src="//cdnjs.cloudflare.com/ajax/libs/materialize/0.97.1/js/materialize.min.js")
		script(src="/socket.io/socket.io.js")
		script(src="/javascripts/app.js")
		link(href="//fonts.googleapis.com/icon?family=Material+Icons", rel="stylesheet")
